
.revThemeLayer {
  background-color: #f5f5f5;
  width: 1220px;
  margin: 0 auto;
  border-bottom: 1px solid #606060;
  color: #333;
  padding: 10px 0;
  position: relative;
  transform-origin: 0% 0%;
}

.revThemeLayer .revThemeTbl {
  width: 98%;
  margin: 0 auto;
}

.revThemeLayer .revThemeTbl table{
  border-collapse: collapse;
  border-spacing: 0;
}

.revThemeLayer .revThemeTbl th{
  width: 12%;
  font-size: 14px;
  padding: 12px 0;
  text-align: center;
  background-color: #fff;
  border: 7px solid #f5f5f5;
  border-radius: 15px;
}

.revThemeLayer .revThemeTbl td {
  text-align: left;
}

.revThemeLayer .revThemeTbl select {
  border: 2px solid #d1d1d1;
  padding: 5px 10px;
  width: 200px;
}

option {
  font-weight: normal;
  display: block;
  white-space: pre;
  min-height: 1.2em;
  padding: 0 2px 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.revThemeLayer .revThemeTbl td ul li{
  border: 1px solid #b8b8b8;
  float: left;
  font-size: 13px;
  padding: 3px 5px;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.revThemeLayer .revThemeTbl td ul li input[type=checkbox] {
  float: left;
  width: 15px;
  height: 15px;
  margin-top: 5px;
  margin-right: 3px;
}

.revThemeLayer .revThemeTbl td ul li label {
  float: left;
  margin-top: 3px;
}